.price-table {
    border-collapse: collapse;
    width: 100%;
    text-align: center;
  }
  
  th, td {
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even){background-color: #f2f2f2}
  
  th {
    background-color: #9f111b;
    color: white;
  }